---

// IMPORT ASTRO LAYOUTS
import ContainerSmall from "@/layouts/container-small/index.astro"

// IMPORT ASTRO COMPONENTS
import ProjectCard from "@/components/home/projects/card/index.astro"

// IMPORT ASTRO ATOMS
import ButtonBlue from "@/atoms/atoms-shiva/buttons/blue/index.astro"
import HeadingThree5Xl from "@/atoms/atoms-shiva/headings/three/5xl/bold/leading/index.astro"
import HeadingTwoLg from "@/atoms/atoms-shiva/headings/two/lg/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphLgMedium from "@/atoms/atoms-shiva/paragraphs/lg/medium/leading/index.astro"

// HARDCODED DATA
const data = {

    button_link: "/",
    button_text: "VIEW ALL PROJECTS",
    description: "When you work with our teams of senior designers and developers, you get premium design, coding, and creativity.",
    subtitle: "See what Solwey can do",
    title: "PROJECTS",

}
const card_data = [

    {
        links: [

            {
                link_text: "Callentis",
                link: "/",
            },
            {
                link_text: "The crayon Initiative",
                link: "/",
            },

        ],
        logos: [

            {
                source: "/logos/figma.svg",
            },
            {
                source: "/logos/sketch.svg",
            },
            {
                source: "/logos/xd.svg",
            },

        ],
        source: "/images/projects/project-1.png",
        subtitle: "powered by Figma, Sketch, Adobe XD",
        title: "UX/UI Design & Optimisation",
    },
    {
        links: [

            {
                link_text: "Radius Flex Logistics",
                link: "/",
            },
            {
                link_text: "AskThemis",
                link: "/",
            },

        ],
        logos: [

            {
                source: "/logos/js.svg",
            },
            {
                source: "/logos/rails.svg",
            },
            {
                source: "/logos/react.svg",
            },

        ],
        source: "/images/projects/project-2.png",
        subtitle: "powered by Node JS, Ruby on Rails and React",
        title: "Web & Mobile App Development",
    },
    {
        links: [

            {
                link_text: "Strands Hair Care",
                link: "/",
            },
            {
                link_text: "WinWinX",
                link: "/",
            },

        ],
        logos: [

            {
                source: "/logos/shopify.svg",
            },

        ],
        source: "/images/projects/project-3.png",
        subtitle: "powered by Shopify",
        title: "E-Commerce & Blockchain",
    },
    {
        links: [

            {
                link_text: "Devron",
                link: "/",
            },
            {
                link_text: "Thunderbolt Innovation",
                link: "/",
            },

        ],
        logos: [

            {
                source: "/logos/js.svg",
            },
            {
                source: "/logos/rails.svg",
            },
            {
                source: "/logos/react.svg",
            },

        ],
        source: "/images/projects/project-4.png",
        subtitle: "powered by Node JS, Ruby on Rails and React",
        title: "Business Intelligence & Data Analytics",
    },

]

---

<section class="bg-[url('/images/projects-bg.png')] bg-cover bg-no-repeat py-16">
    <ContainerSmall>
        <div class="flex flex-col gap-20">
            <div class="flex flex-col gap-4 max-w-[600px]">
                <HeadingTwoLg>{ data.title }</HeadingTwoLg>
                <HeadingThree5Xl>{ data.subtitle }</HeadingThree5Xl>
                <ParagraphLgMedium>{ data.description }</ParagraphLgMedium>
            </div>
            <div class="flex flex-col gap-20">
                {

                    card_data.map( ( data, index ) => {

                        const card_layout = index % 2 === 0 ? "md:flex-row" : "md:flex-row-reverse"
                        const image_layout = index % 2 === 0 ? "" : "justify-end"

                        return (

                            <ProjectCard
                                card_layout={ card_layout }
                                image_layout={ image_layout }
                                links={ data.links }
                                logos={ data.logos }
                                source={ data.source }
                                subtitle={ data.subtitle }
                                title={ data.title }
                            />

                        )

                    })

                }
            </div>
            <div class="flex justify-center">
                <Link href={ data.button_link }>
                    <ButtonBlue>{ data.button_text }</ButtonBlue>
                </Link>
            </div> 
        </div>
    </ContainerSmall>
</section>
